---
const { title } = Astro.props;
import { Image } from "astro:assets";
import cipHead from "@/assets/houston.webp";

import { ViewTransitions } from "astro:transitions";
import logoHead from "@/assets/rel.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/cip-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <header class="flex xl:flex justify-around m-2">
      <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
      <a href="/" class="xl:flex">
        <div>
          <Image
            src={logoHead}
            alt="Coding in Public head for course"
            width={160}
            class="w-24 sm:w-24"
          />
        </div>
      </a>
      <nav class="flex">
        <div class="bg-blue-200 w-60 py-5 px-6 rounded">
          <div class="container flex gap-1 items-center justify-center">
            <Image
              src={cipHead}
              alt="Coding in Public head for course"
              width={60}
              class="w-24 sm:w-4"
            />
            <div class="grid gap-1 text-left">
              <p class="text-sm font-extralight">by Rendosland Agyapong</p>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <body>
      <main transition:animate="slide">
        <hr color="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
        <div>
          <!-- <Sidebar class="w-[10%]" /> -->
          <slot class="w-[100%]" />
        </div>
      </main>
    </body><footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href=""
            class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            <Image
              src={logoHead}
              width={60}
              class="rounded-lg"
              alt="codeEditor Logo"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Codey!</span
            >
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
              <a href="#" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
              <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a
              >
            </li>
            <li>
              <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span
          class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >© 2023 <a href="https://flowbite.com/" class="hover:underline"
            >CodeEditors™</a
          >. All Rights Reserved.</span
        >
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    font-family:
      jwf,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      Segoe UI Symbol;
    tab-size: 2;
    word-wrap: break-word;
  }
  footer {
    bottom: 0;
  }
</style>
